@keyframes opacityAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dropdownlist {
  from {
    height: 0;
  }
  to {
    height: 287px;
  }
}


@keyframes coverSheet {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.85;
  }
}